<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
<div class="page">
    <header class="header">
        <a href="#">
            <img class="header_logo" src="/img/book_icon.svg" width="60" height="60">
        </a>
        <h1 class="header_title" th:text="#{title.library}">Library</h1>
        <div class="header_langs">
            <a class="lang_link" href="?lang=ru_RU">
                <img src="/img/russian-language.svg" width="30" height="30"/>
            </a>
            <a class="lang_link" href="?lang=en">
                <img src="/img/english-language.svg" width="30" height="30"/>
            </a>
        </div>
    </header>
    <main class="content">
        <div class="content_column">
            <a class="content_link" href="books.html" th:href="@{books}">
                <h2 th:text="#{all.books}">All books</h2>
                <img src="/img/library.jpg" alt="books" width="500" height="500">
            </a>
        </div>
        <div class="content_column">
            <a class="content_link" href="authors.html" th:href="@{authors}">
                <h2 th:text="#{all.authors}">All authors</h2>
                <img src="/img/library2.jpg" alt="authors" width="500" height="500">
            </a>
        </div>
        <div class="content_column">
            <a class="content_link" href="genres.html" th:href="@{genres}">
                <h2 th:text="#{all.genres}">All genres</h2>
                <img src="img/library3.jpg" alt="genres" width="500" height="500">
            </a>
        </div>
    </main>
    <footer class="footer">
        <p class="footer_content">&copy; 2021 Library study project</p>
    </footer>
</div>
</body>
</html>